body {
    background-color: #161616;
    color: white;
}

.container {
    margin-top: 10rem;
}

.btn {
    background-color: #b71c1c;
    
    border: none;
    border-radius: 2rem;
}

.btn:hover {
    background-color: #d32f2f;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.card {
    background-color: #212121;
    margin-top: 1rem;
}